.error {
    color: red;
}

div.contract {
    border: 1px black;
}

.header {
    position: relative;
    float: right;
}

.main {
    clear: both;
}

.allOptions {
    display: none;
}

select {
    width: 300px;
}

table.clients {
    border: 1px solid black;
    border-collapse: collapse;
}

.clients td {
    padding: 5px;
}

div#password-changed-message {
    display: none;
}